<aside class="sidebar">
  <div class="user-block">
    <div class="avatar">A</div>
    <div>
      <div class="user-name">Admin</div>
      <div class="user-role">Administrator</div>
    </div>
  </div>

  <nav class="nav">
    <a
      class="nav-link"
      routerLink="/admin/homes"
      routerLinkActive="active">
      Homes
    </a>

    <a
      class="nav-link"
      routerLink="/admin/rooms"
      routerLinkActive="active">
      Rooms
    </a>

    <a
      class="nav-link"
      routerLink="/admin/devices"
      routerLinkActive="active">
      Devices
    </a>
  </nav>
</aside>
